* {
  padding: 0;
  margin: 0;
}

.container {
  align-items: center;
  margin: 5vw auto;
  text-align: center;
}

button {
  background-color: aqua;
  outline: none;
  padding: 1vw;
  border: none;
  border-radius: 0.2vw;
  cursor: pointer;
  text-decoration: none;
}